<!-- **** ANSWERS **** -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>How Now Brown Cow</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home">HOME</a></li>
      <li><a href="/learn">LEARN</a></li>
      <li class="active"><a href="/answers">ANSWERS</a></li>
      <li><a href="/score">SCORE</a></li>
    </ul>
  </div>
</nav>
<!-- **** END NAVBAR **** -->

<div class="answersBackgroundDiv">
  <div class="container">

    <div class="dipthongAnswers">
<table class="answersTable">
  <thead>
    <tr>
      <th></th>
      <th scope="col" colspan="2">1</th>
      <th scope="col" colspan="2">2</th>
      <th scope="col" colspan="2">3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Image 1</th>
      <td colspan="2">h</td>
      <td colspan="2"><b>ou</b></td>
      <td colspan="2">se</td>
    </tr>
    <tr>
      <th scope="row">Image 2</th>
      <td colspan="2">b</td>
      <td colspan="2"><b>o</b></td>
      <td colspan="2">y</td>
    </tr>
    <tr>
      <th scope="row">Image 3</th>
      <td colspan="2">c</td>
      <td colspan="2"><b>o</b></td>
      <td colspan="2">w</td>
    </tr>
    <tr>
      <th scope="row">Image 4</th>
      <td colspan="2">c</td>
      <td colspan="2"><b>oi</b></td>
      <td colspan="2">n</td>
    </tr>
    <tr>
      <th scope="row">Image 5</th>
      <td colspan="2">cl</td>
      <td colspan="2"><b>ou</b></td>
      <td colspan="2">d</td>
    </tr>
    <tr>
      <th scope="row">Image 6</th>
      <td colspan="2">m</td>
      <td colspan="2"><b>ou</b></td>
      <td colspan="2">se</td>
    </tr>
    <tr>
      <th scope="row">Image 7</th>
      <td colspan="2">cl</td>
      <td colspan="2"><b>ow</b></td>
      <td colspan="2">n</td>
    </tr>
    <tr>
      <th scope="row">Image 8</th>
      <td colspan="2"><b></td>
      <td colspan="2"><b>ow</b></td>
      <td colspan="2">l</td>
    </tr>
    <tr>
      <th scope="row">Image 9</th>
      <td colspan="2">s</td>
      <td colspan="2"><b>oi</b></td>
      <td colspan="2">l</td>
    </tr>

  </div>
  <!-- **** END CONTAINER CLASS **** -->

</div>
<!-- **** END learnBackGroundDiv **** -->
