<!-- **** LEARN **** -->

<!-- <h1>Let's Learn!</h1> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>How Now Brown Cow</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home">HOME</a></li>
      <li class="active"><a href="/learn">LEARN</a></li>
      <li><a href="/answers">ANSWERS</a></li>
      <li><a href="/score">SCORE</a></li>
    </ul>
  </div>
</nav>
<!-- **** END NAVBAR **** -->

<div ng-controller="LearnController as lc" class="learnBackgroundDiv">

  <div class="container">

    <br>

    <!-- <div class="dipthongExercises">
      <table class="learnTable">
        <thead>
          <tr>
            <th></th>
            <th scope="col" colspan="2">1</th>
            <th scope="col" colspan="2">2</th>
            <th scope="col" colspan="2">3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img src="../styles/images/house2.png" height="30px"/></th>
            <td colspan="2">h</td>
            <td colspan="2">_ _</td>
            <td colspan="2">se</td>
          </tr>
          <tr>
            <th scope="row"><img src="../styles/images/boy.png" height="35px"/></th>
            <td colspan="2">b</td>
            <td colspan="2">_ _</td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <th scope="row"><img src="../styles/images/cow-table.png" height="30px"/></th>
            <td colspan="2">c</td>
            <td colspan="2">_ _</td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <th scope="row"><img src="../styles/images/coin.png" height="30px"/></th>
            <td colspan="2">c</td>
            <td colspan="2">_ _</td>
            <td colspan="2">n</td>
          </tr>
          <tr>
            <th scope="row"><img src="../styles/images/clouds.png" height="27px"/></th>
            <td colspan="2">cl</td>
            <td colspan="2">_ _</td>
            <td colspan="2">d</td>
          </tr>
          <tr>
            <th scope="row"><img src="../styles/images/mouse.png" height="35px"/></th>
            <td colspan="2">m</td>
            <td colspan="2">_ _</td>
            <td colspan="2">se</td>
          </tr>
          <tr>
            <th scope="row"><img src="../styles/images/clown-face.png" height="35px"/></th>
            <td colspan="2">cl</td>
            <td colspan="2">_ _</td>
            <td colspan="2">n</td>
          </tr>
          <tr>
            <th scope="row"><img src="../styles/images/owl.png" height="35px"/></th>
            <td colspan="2"></td>
            <td colspan="2">_ _</td>
            <td colspan="2">l</td>
          </tr>
          <tr>
            <th scope="row"><img src="../styles/images/train.png" height="30px"/></th>
            <td colspan="2">tr</td>
            <td colspan="2">_ _</td>
            <td colspan="2">n</td>
          </tr>

  </div> -->
  <!-- **** END DIPTHONG EXERCISES ****  -->

  <div class="yourAnswers">
  <form class="form-group" action="index.html" method="post">
    <div class="row">


    <!-- <fieldset> -->
    <div class="col-sm-4" class="card">
    <input type="text" name="" value="" placeholder="h_ _ se" ng-model="lc.firstInput">
    </div>
    <div class="col-sm-4">
    <input type="text" name="" value="" placeholder="b_ _" ng-model="lc.secondInput">
    </div>
    <div class="col-sm-4">
    <input type="text" name="" value="" placeholder="c_ _" ng-model="lc.thirdInput">
    </div>
    <div class="col-sm-4">
    <input type="text" name="" value="" placeholder="c_ _n" ng-model="lc.fourthInput">
    </div>
    <div class="col-sm-4">
    <input type="text" name="" value="" placeholder="cl_ _d" ng-model="lc.fifthInput">
    </div>
    <div class="col-sm-4">
    <input type="text" name="" value="" placeholder="m_ _se" ng-model="lc.sixthInput">
    </div>
    <div class="col-sm-4">
    <input type="text" name="" value="" placeholder="cl_ _n" ng-model="lc.seventhInput">
    </div>
    <div class="col-sm-4">
    <input type="text" name="" value="" placeholder="_ _l" ng-model="lc.eigthInput">
    </div>
    <div class="col-sm-4">
    <input type="text" name="" value="" placeholder="tr_ _n" ng-model="lc.ninthInput">
    </div>
    <!-- </fieldset> -->

    </div>
  </form>
  <br>
  <div class="learnButtons">
    <button type="button" class="btn btn-success" name="button">LEARN</button>
    <a class="btn btn-info" href="/score">GET SCORE</a>
    <button type="button" class="btn btn-danger" ng-click="lc.yourAnswersEntry()">SUBMIT</button>
  </div>
  <!-- **** END LEARN BUTTONS **** -->
</div>
<!-- **** END YOUR ANSWERS **** -->

  </div>
  <!-- **** END CONTAINER CLASS **** -->



</div>
<!-- **** END learnBackGroundDiv **** -->
