<!-- **** SCORE **** -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>How Now Brown Cow</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home">HOME</a></li>
      <li><a href="/learn">LEARN</a></li>
      <li><a href="/answers">ANSWERS</a></li>
      <li class="active"><a href="/score">SCORE</a></li>
    </ul>
  </div>
</nav>
<!-- **** END NAVBAR **** -->

<div ng-controller="ScoreController as sc">

  <div class="box" id="pie">
       <div class="container">
         <h3 class="lead">SCORE RESULTS</h3>
         <canvas id="pie" class="chart chart-pie" chart-data="sc.pieData"
          chart-labels="sc.pieLabels" chart-options="sc.pieOptions"
          ng-init="sc.getPieChart()"></canvas>
       </div>
     </div>




</div>
<!-- **** END CONTROLLER **** -->
