/**** SPACE MONO ****/

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v2/adVweg3BJhE6r8jYmXseHQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(https://fonts.gstatic.com/s/spacemono/v2/vdpMRWfyjfCvDYTz00NEPGaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



/**** USER AGENT ****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




/**** HOME ****/

.homeBackgroundDiv {
  /*margin-top: -2em;*/
  /*min-height: 1000px;*/
  height: 100%;
  padding-bottom: 100px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/cow.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home {
  font-family: "Space Mono", monospace;
  color: red;
  text-align: right;
  margin-right: 25px;
}

.howNow {
  font-size: 150px;
}



/**** SIDE NAVBAR ****/

#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background: #2C3E50;
  /*border: 2px solid red;*/
  opacity: 0.9;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  border: 5px solid green;
}

#wrapper.menuDisplayed #sidebar-wrapper {
  padding-left: 250px;
  /*margin-left: 250px;*/
}

.sidebar-nav {
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #DDD;
}

.sidebar-nav li a:hover {
  background: #16A085;
}



/***** LEARN *****/

.navbar-default {
  background-color: #C6E2FF;
  color: White;
  border-radius: 0;
}

.navbarBrand {
  font-size: 75px;
}

.learnBackgroundDiv {
  /*margin-top: -1.4em;
  min-height: 1000px;*/
  /*height: 100%;
  padding-bottom: 100px;*/
  /*background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/clouds.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.25;*/
}
